/*
!/app
/app/etc/env.php
/app/etc/config.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
!/app/etc/hyva-themes.json
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/functions.php
!/composer.*
!/package.json
!/package-lock.json
!/yarn.lock
!.gitignore
!README.md
!readymage.yaml
!**/.gitkeep
!/var/.htaccess
!/vendor/.htaccess
!/generated/.htaccess
.idea
.DS_Store
!.vscode
!.prettierrc
!.github